// setting up the body
body {  
    background-image:url(../img/noise.png);
    background-repeat:repeat;
    background-attachment:scroll;
    background-position:top left;
    position: relative;
    width: 100%;
    min-height:100%;
    // background-color:red !important;
}

a:link,
a:visited {
    color:inherit;
}
a:hover,
a:active {}

.brand-face {
    // text-transform:uppercase;
}

input {
    border:1px solid rgba(black, 0.5);
    padding:$bsu/4 $bsu/3 $bsu/2;
    width:100%;

}

.third-face {
    font-family:$third-face;
}

.rule {
    margin-bottom:$bsu/2;
}

.b--white {
    padding-bottom:$bsu/2;
    border-bottom:1px solid rgba($lk-white,0.5);
}

.loading {
    @extend .third-face;
    text-align:center;
    font-size:2em;
    margin-top:0.5em;
}

label {
    @extend .brand-face;
}

.icon {
    text-decoration:none;
}

[class*="icon-"] {
    position:relative;
    top:0.05em;
    // margin-right:$bsu/2;
}

// .icon--rotate {
//     // outline:1px solid black;
//     @include inline-block();
//     @include apply-origin(50%,40%);
//     @include animation-duration(3s); 
//     @include animation-iteration-count(infinite);
//     @include animation-timing-function(linear);
//     @include animation-name(icon-rotate); 
// }
// .icon-cog--1 {
//     @extend .icon-cog;
    
// }
// @include keyframes(icon-rotate) {
//     from {@include transform(rotate(0deg));}
//     to {@include transform(rotate(359deg));}
// }

.notes {
    font-size:0.95em;
    font-family:monospace;
    padding:$bsu $bsu;
    margin:0 $bsu $bsu*2;
    background:white;
    color:black;
    &:before {
        content:'Notes: ';
        font-weight:700;
    }
}

.test {
    position:absolute;
    bottom:$bsu/2;
    right:$bsu/2;
    font-size:0.8em;    
    color:white;
}

.block-list, .block-list li {
    border-color:rgba(black,0.2);
}

.hi {
    @extend .brand-face;
    @extend .colours-hi;
    padding:0.2em 0.4em 0.2em 0.5em;
    white-space:nowrap;    

    &.slabtextdone {
        line-height:1;
        padding:0 0 3%;
        text-align:center;
    }
}

.em {
    @extend .brand-face;
    padding:0 0.3em 0.15em;
    border-radius: 0.12em;
    background:rgba(black,0.42);
}

.grid {
    clear:both;
    @include aboveOrEquals(pem(480))
    {
        margin-left:0;
        margin-right:$bsu;

        .module & {
            margin-left:-$bsu;
            margin-right:0;
        }
    }
}

.welcome-btn {

    display:block;    
    width:1em;
    margin:$bsu*2 auto;
    padding:10px;
    box-sizing:content-box;
    // @include box-sizing("content-box");
    border-radius:50%;
    // @include border-radius(50%);

    $sox: 2px;
    $soy: 5px;
    $blr: 10px;
    $opa: 0.2;

    &:link,
    &:visited {
        text-decoration:none;
        color:$citu-yellow;
        background-color:$lk-turq;
    }
    &:hover,
    &:active {
        color:lighten($citu-yellow, 20);
        @include text-shadow(rgba($citu-yellow,1) 0px 0px 10px);        
    }
    &:active {
        @include box-shadow(
            rgba(black,2*$opa) 0-$sox 0-$soy $blr inset, 
            rgba(white,$opa) $sox $soy $blr, 
            rgba(black,$opa) $sox $soy $blr/2 inset
            );
        span {
            position:relative;
            top:2px;
        }    
    }
            
    @include box-shadow(
            rgba(black,$opa) 0-$sox 0-$soy $blr inset, 
            rgba(white,$opa) $sox $soy $blr inset
            );

    border:1px solid rgba($lk-blue,0.4);
    margin-bottom:$bsu/2;

    // reset the stuff we normally do to icons.
    span {position:static;margin:0;}
}

.underfooter {

    // @include box-shadow(inset pem(7) 0 pem(14) pem(-4) rgba(black, 0.25));
    // @include box-shadow(inset 0 -10 pem(14) pem(4) rgba(white, 0.25));
    @include box-shadow(rgba(black,0.21) 0 $bsu/3 $bsu/2 -$bsu/4 inset);
    @extend .brand-face;
    @extend .cf;
    font-size:0.75em;
    text-align:center;
    padding:$bsu*1.5 $bsu $bsu/4;
    background-color:rgba(black,0.76);
    color:$lk-beige;

    .name {font-size:1.7em;}
    .af-logo {
        width:80px; margin:0 auto;
        .container {
            margin:0;
            polygon,path {
                fill:black;
                opacity:0.5;
            }        
        }
    }
}

.slabtexted .slabtext
{
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
}
.slabtextinactive .slabtext
{
    display:inline;
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
}
.slabtextdone .slabtext
{
    display:block;
}   

.home__weather {

    @extend .cf;

    .icon {
        float:right;
        width:20%;        
        img {
            max-height:4em;    
        }
    }

    /*
        HACKETY HACK -- THIS IS A BIG HACK!! REMOVE IT JACK!!
    */
    p.m--half span {
        font-size:1.6em;
    }
}

/*
    offscreen styles specific to actuate
*/
.offscreen {
    
    background-image:url(../img/noise-blk.png);
    color: #fff;    
    background-color:rgba($citu-grey,0.8);

    .page-title {
        text-align:center;
        padding:$bsu/2;
        margin:0;
        margin-bottom:$bsu/2;
        color:black;
        background-color:rgba(black,0.2);
        line-height:1.3em;
        @include aboveOrEquals(pem(768))
        {
            line-height:2em;            
        }
    }
}

.note {
    @extend .colours-head;
    padding:$bsu;
}