$fix-mqs: false !default;

%shadow {
    // @include box-shadow(rgba(black,0.16) 0px 2px 7px);
    box-shadow:0px 2px 7px rgba(black,0.16);
}

%shadow--up {
    // @include box-shadow(rgba(black,0.16) 0px 2px 7px inset);
    box-shadow:inset 0px 2px 7px rgba(black,0.16);
}

@mixin separator {
    border:0px solid rgba(white,0.2);
}

/*
ie8 and lower separate desktop stylesheet approach from here:
http://jakearchibald.github.io/sass-ie/
*/



@mixin aboveOrEquals($width) {

	@if $fix-mqs {
        
        @if $fix-mqs gte $width { @content; }

    } @else {
        
        @media only screen and (min-width:$width) {@content;}
    }
    
}

@mixin belowOrEquals($width) {

	@if $fix-mqs {
        
        @if $fix-mqs lte $width { @content; }

    } @else {
        
        @media only screen and (max-width:$width) {@content;}
    }

    
}

@function pem($px, $base: 16) {

    // @return round($px / $base) + em;
    @return $px / $base + em;
}