/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
$debug-mode:        false!default;

/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */
// $base-font-family:  "nudista-web", sans-serif!default;
$base-font-family:  "LubalinPoo", Georgia, sans-serif!default;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     $citu-grey!default;


/**
 * Brand stuff
 */
$brand-color:       $lk-red!default;
$brand-face:        "nudista-web", sans-serif!default;

$third-face:        "bebas-neue", sans-serif!default;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;

/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         481px!default;
$pad-start:         712px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;

/*
    use @include media-query(lap){ [styles here] } > $lap-start

    use @include media-query(desk){ [styles here] } > $desk-start

    use @include media-query(desk-wide){ [styles here] } > $desk-start
*/

/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;



/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;   //
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;   //
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;   //
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    true;   //
$use-matrix:        true;   //
$use-split:         true;   //
$use-this-or-this:  false;  
$use-link-complex:  true;   //
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;   //
$use-lozenges:      false;
$use-rules:         true;   //
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
 $global-border-box: true;





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */