@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */

/*
    compass imports
*/
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";

/**
 * Setup
 */
@import "colours";         	// need this first for injecting into inuit.


/*
	Inuit variables.
*/
// basic colours and sizes.
$base-font-family:  "LubalinPoo", Georgia, sans-serif;
$base-ui-color:     $citu-grey;
$brand-color:       $lk-red;
$brand-face:        "nudista-web", sans-serif;
$third-face:        "bebas-neue", sans-serif;

// which inuit modules to pull in.
$use-grids:         true; 
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  false;  
$use-link-complex:  true;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;

@import "inuit.css/inuit";  // then inuit.
@import "modules/my_inuit";  // then inuit.

// $bsu: $base-spacing-unit;       // grab this in a easier form to use.
$bsu: ($base-spacing-unit / $base-font-size) * 1rem;

@import "animation/core";  // then the animation helpers.

/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

@import "mixins";            

@import "base";                 
@import "layout";

// @import "offcanvas";
@import "modules/modules";

@import "modules/grids";
@import "modules/svg";

@import "modules/header";
@import "modules/login";
@import "modules/typography";

@import "modules/offscreen";
@import "modules/menu_pages";
@import "modules/menu_controls";

@import "modules/alerts";
@import "modules/links";
@import "modules/linkgroup";
@import "modules/icons";
@import "modules/carousel";
@import "modules/now";
@import "modules/status";
@import "modules/bargraph";
// @import "modules/sofar";
@import "modules/separate";
@import "modules/button";


@import "modules/bills";
@import "modules/control";

@import "isuck"; /* Yes I do until I remove this!! */
@import "modifiers";
