.usage__graph {

    position:relative;

    .usage__total {
        position:absolute;
        width:150px;
        height:150px;
        @include border-radius(50%);
        @include box-sizing(border-box);
        top:3.5*$bsu;
        left:50%;
        margin-left:-75px;
        text-align:center;
        font-size:4em;
        background-color:rgba($lk-maroon,0.85);
        border:4px solid rgba(black,0.75);
        padding-top:.15em;
        background:rgba($lk-maroon, 0.80) url(../img/wave.svg) repeat-x scroll 0 100px;
        @include box-shadow(0px 2px 5px rgba(black,0.4));
        color:white;
        display:none;
    }

    .carousel {
        height:200px;
    }

    .carousel__slider {
        width:100%;
    }

    .car__btn {        
        opacity:0;
        min-width:50px;
        display:none;        
    }

    &:hover {
        .car__btn {
            opacity:1;
        }
    }

    .bar {
        height:50%;
        background:$lk-white;
        float:left;
        margin:0px;padding:0px;
    }

    .time__label {
        @include inline_block();
        width:50%;            
    }

    .time__label--left {text-align:left; }
    .time__label--right {text-align:right; }
}
