.carousel {
    position:relative;
    display:block;
    overflow:hidden;
    width:100%;
}

.carousel__slider {
    position:absolute;
    top:0px;left:0px;
    height:100%;
} 

.car__btn {        
    display:block;
    position:absolute;        
    top:0;
    text-decoration:none;
    width:10%;
    height:100%;
    background-color:rgba(white,0.1);
    text-align:center;
    @include transform(translate3d(0,0,0));
    @include transition(all 500ms ease);
    font-size:2.5em;
    padding-top:2*$bsu;

    &:link,
    &:visited {
        color:rgba(black,0.42);
    }

    &:active,
    &:hover {
        background-color:rgba(white,0.76);   
        color:rgba($citu-grey,1);
    }
}

.car__btn--right {right:0;}
.car__btn--left {left:0;}