@font-face {
	font-family: 'actuate';
	src:url('fonts/actuate.eot?voaz3g');
	src:url('fonts/actuate.eot?#iefixvoaz3g') format('embedded-opentype'),
		url('fonts/actuate.woff?voaz3g') format('woff'),
		url('fonts/actuate.ttf?voaz3g') format('truetype'),
		url('fonts/actuate.svg?voaz3g#actuate') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'actuate';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\e605";
}
.icon-minus:before {
	content: "\e606";
}
.icon-plus:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-location:before {
	content: "\e603";
}
.icon-clock:before {
	content: "\e604";
}
.icon-smiley:before {
	content: "\e614";
}
.icon-home:before {
	content: "\e601";
}
.icon-sad:before {
	content: "\e60a";
}
.icon-loop:before {
	content: "\e612";
}
.icon-undo:before {
	content: "\e616";
}
.icon-redo:before {
	content: "\e617";
}
.icon-arrow-down:before {
	content: "\e61c";
}
.icon-arrow-up:before {
	content: "\e61d";
}
.icon-sun:before {
	content: "\e608";
}
.icon-shout:before {
	content: "\e609";
}
.icon-occupancy:before {
	content: "\e60b";
}
.icon-menu:before {
	content: "\e60c";
}
.icon-eye:before {
	content: "\e60d";
}
.icon-door--open:before {
	content: "\e60e";
}
.icon-door--closed:before {
	content: "\e60f";
}
.icon-bulb:before {
	content: "\e610";
}
.icon-alarm:before {
	content: "\e611";
}
.icon-water:before {
	content: "\e613";
}
.icon-warmth:before {
	content: "\e615";
}
.icon-close:before {
	content: "\e619";
}
.icon-bills:before {
	content: "\e61a";
}
.icon-power:before {
	content: "\e618";
}
.icon-cog:before {
	content: "\e61b";
}
