.module {
    clear:both;
    padding:0;
    margin:0 $bsu/4 $bsu/2;    
    @extend .-cream;

    .module__header {

        padding:0;
        margin-bottom:$bsu;

        .heading {
            padding:$bsu*3/4 $bsu;
            margin:0;
            border:none;            
        }

        .icon {
            display:block;            
            float:right;
            font-size:1.5em;
            border-left:1px solid rgba($lk-cream,0.5);
            padding:$bsu*3/4 $bsu;
            margin-left:1em;
            top:0;
        }
    }

    .module__main {
        margin:0 $bsu;        
        &.extra {
            border-top:1px solid rgba(black,0.12);
            padding-top:$bsu/2;
        }
    }

    .module__full {
        margin:-$bsu 0 $bsu;
    }

    .module__footer {
        margin:0 $bsu;   
        padding-bottom:$bsu;

        & > *:last-child {
            margin-bottom:0;
        }
    }

    // .coloured {@extend %shadow;}

    & > *:last-child {
        margin-bottom:0;
    }

    // .grid__item & {
    //     margin:0 0 $bsu;
    // }

    @include aboveOrEquals(pem(480))
    {
        margin:0 $bsu $bsu;
        // .grid__item & {
        //     margin:0 0 $bsu;
        // }
    }

    @include box-shadow(0px 4px 0px rgba(black,0.22));
}

.module__map {
    padding:0;    
    @include box-shadow(none);
    .container {
        padding-top:80%;
        margin-bottom:0;

        @include aboveOrEquals(pem(320))
        {
            padding-top:50%;
        }

        @include aboveOrEquals(pem(768))
        {
            padding-top:30%;
        }
    }
}

.module__status {
    p { font-size:1.5em; }
}

.module__advice {

    .body {
        @extend .cf;
        margin-bottom:$bsu;
    }

    .content {}

    .data {
        @extend .colours-head;
        padding:$bsu/2;
    }

    @include media-query(lap){
        .content {
            width:70%;
            float:left;
            padding-right:$bsu
        }
        .data {
            width:30%;
            float:right;
            position:relative;
            top:-$bsu/4;
        }
    }

    @include media-query(desk){
        .content {width:80%;}
        .data {width:20%;}
    }
}