.now {

    .carousel {
        font-size:4em;
    }

    .carousel__slider {
        width:160%;
        @include transition(transform 500ms ease);
    }

    .car__btn {      
        width:20%;
    }

    .car__btn--left {
        @include transform(translate3d(-100%,0,0));
    }

    .reading {
        float:left;
        width:50%;
        padding:0 $bsu;
        text-align:center;
        @include opacity(0);
        @include transition(opacity 500ms ease);

        .units {
            font-size:0.5em;
        }
        &.showing {
            @include opacity(1);
        }
    }

    &.show--alt {
        .car__btn--right {@include transform(translate3d(100%,0,0));}
        .car__btn--left {@include transform(translate3d(0,0,0));}        
        .carousel__slider {@include transform(translate3d(-40%,0,0));}
    }

    @include aboveOrEquals(pem(481)) {
        .carousel__slider {
            width:100%;
        }
        .car__btn {
            display:none;
        }
        .reading {
            @include opacity(1);
            &:nth-child(2) {
                @include separator;
                border-left-width:1px;
            }
        }
        &.show--alt .carousel__slider {@include transform(translate3d(0,0,0));}
    }
}