
/*
    Where you're trying to have two things (e.g. a label and a number) which are left and right aligned.

*/
.separate {

    @extend .grid--full;
    margin-bottom:$bsu/2;

    .pair {
        @extend .grid__item;

        margin-bottom:$bsu/4;        
        border-bottom:1px solid rgba(black,0.05);

        &:last-child {
            margin-bottom:0;
            border-bottom:none;
        }        
    }    

    .label {
        float:left;
        font-size:pem(26);
        margin-bottom:0;
        @extend .m--none;
    }

    .figure {
        float:right;
        font-size:pem(32);
        @extend .m--none;
        @include aboveOrEquals(pem(768))
        {
            font-size:pem(42);
        }
    }

    .extra {
        display:block;
        width:100%;
        text-align:center;
        font-size:pem(72);
        line-height:1;
        padding-bottom:10%;
    }

    @include aboveOrEquals(pem(480))
    {
        .pair {
            width:33.33%; 
            border:none; 
            border-right:1px solid rgba(black,0.05);
            &:last-child {
                border-right:none; 
            }  
        }
        .label,
        .figure {
            float:none;
            text-align:center;
        }
        .figure {
            font-size:3em;
        }
        
    }
}