.grid--full{
    margin-left:0;

    > .grid__item{
        padding-left:0;
    }
}

.separate {

    .label,.figure {margin-bottom:0;}

    .label {
        float:left;
        font-size:pem(26);
        @extend .m--none;
    }
    .figure {
        float:right;
        font-size:pem(32);
        @include aboveOrEquals(pem(768))
        {
            font-size:pem(42);
        }
    }
    .extra {
        display:block;
        width:100%;
        text-align:center;
        font-size:pem(72);
        line-height:1;
        padding-bottom:10%;
    }
    .one-of {
        @include aboveOrEquals(pem(481))
        {
            padding-right:$bsu;    
        }        
    }
    // .grid__item {
    //     @include aboveOrEquals(pem(481))
    //     {
    //         width:50%;
    //     }
    // }
}

.sofar {


    // .separate {
    //     @include inline-block();
    //     vertical-align:top;
    //     width:100%;
    // }

    // // .carousel {
    // //     height:100px;
    // // }
    // // .carousel__slider {        
    // //     width:200%;
    // //     @include transition(transform 500ms ease);
    // // }

    // // &.show--alt {
    // //     .carousel__slider {@include transform(translate3d(-50%,0,0));}
    // // }

    // .spend {        
    //     line-height:1;
    //     text-align:center;
    // }

    // .total .spend {
    //     font-size:pem(72);
    // }

    // .total .more_detail {
    //     display:none;
    // }

    // .label {
    //     margin:0;
    // }

    // .separate {
        
    //     .water {
    //         margin-bottom:$bsu/2;
    //     }

    //     .spend {
    //         margin:0 0 $bsu/2;
    //         font-size:pem(28);
    //         text-align:left;
    //         text-align:right;
    //         span {
    //             display:block;
    //             float:left;
    //         }
    //     }

    //     @include aboveOrEquals(pem(480))
    //     {
    //         .water,.electricity {
    //             @include inline-block();
    //             vertical-align:top;
    //             width:48%
    //         }
    //         .water {
    //             margin-right:2%;                
    //             margin-bottom:0;
    //         }    
    //         .spend {
    //             font-size:pem(42);
    //             text-align:left;
    //         }
    //         .spend span {
    //             display:block;
    //             margin:0;
    //             font-size:0.5em;
    //             float:none;                
    //         }
    //     }
    // }
}