.container {
    position:relative;
    width:100%;
    height:0;    
    margin-bottom:1em;
    overflow:hidden;

    svg, iframe {
        position:absolute;
        top:0;
        left:0;
    }

    iframe {
        width:100%;
        height:100%;
    }
}

.svgGraph {

    // @extend .colours-turq;
    // padding:$bsu;
    // margin-top:-$bsu;
    
    .graph--background {fill:$lk-turq;}

    @mixin graphStyle($col)
    {
        color:$col;
        line {stroke:$col}
        text {fill:$col}
        .square {background-color:$col}
    }
    
    .graph--previous {
        @include graphStyle($lk-white);
    }

    .graph--sofar {
        @include graphStyle($citu-yellow);
    }

    .graph--average {
        @include graphStyle($lk-beige);   
        .square {
            background-color:transparent;            
            border-top:1px dashed $lk-beige;
        }
    }
    
    .graph--area {
        fill:$citu-yellow;
        opacity:0.7;   
    }

    .graph--area--prev {
        fill:$lk-white;
        opacity:0.9;   
    }

    .axis path {
      fill: none;
      stroke: #FFF;
      shape-rendering: crispEdges;
    }

    .tick {
        line {
            stroke:#fff;
            opacity:0;
            @include aboveOrEquals(pem(480))
            {
                opacity:0.2;    
            }            
        }
        text {
            display:none;
        }
    }    
}

.key {
    margin:0;padding:0;
    list-style:none;

    .square {
        position:relative;
        top:-2px;
        width:20%;
        height:1px;
        @include inline-block();
        margin-right:0.25em;
        // vertical-align:baseline;
        line-height:1;
    }

    margin-left:8%;
}

.daily__graph {

    .chart {
        .weekend {
            fill:white;
            opacity:0.1
        }
        .weekday {
            fill:white;
            opacity:0.3;
        }
        .bar--background {
            @include transition(opacity 0.5 easein);
        }
        
        a:active,
        a:hover {
            cursor:pointer;
            .bar--background {
                opacity:0.5;
            }
        }    
    }
}